In [1]:
import pandas as pd

df = pd.read_csv("Caso 1.csv")

In [2]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce').fillna(0, downcast='infer')
df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7043.000000
mean        0.162147    32.371149       64.761692   2279.734304
std         0.368612    24.559481       30.090047   2266.794470
min         0.000000     0.000000       18.250000      0.000000
25%         0.000000     9.000000       35.500000    398.550000
50%         0.000000    29.000000       70.350000   1394.550000
75%         0.000000    55.000000       89.850000   3786.600000
max         1.000000    72.000000      118.750000   8684.800000

In [3]:
# Se eliminan las columnas
df = df.drop('customerID', 1)
df = df.drop('Dependents', 1)

df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7043.000000
mean        0.162147    32.371149       64.761692   2279.734304
std         0.368612    24.559481       30.090047   2266.794470
min         0.000000     0.000000       18.250000      0.000000
25%         0.000000     9.000000       35.500000    398.550000
50%         0.000000    29.000000       70.350000   1394.550000
75%         0.000000    55.000000       89.850000   3786.600000
max         1.000000    72.000000      118.750000   8684.800000

In [4]:
df['tenure'] = df['tenure'].replace([0, 1, 2, 3, 4, 5], "Entre 0 y 5")
df['tenure'] = df['tenure'].replace([6, 7, 8, 9, 10, 11], "Entre 6 y 11")
df['tenure'] = df['tenure'].replace([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23], "Entre 12 y 23")
df['tenure'] = df['tenure'].replace([24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35], "Entre 24 y 35")
df['tenure'] = df['tenure'].replace([36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73], "Mas de 35")

df.head()

,gender,SeniorCitizen,Partner,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,Entre 0 y 5,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,Entre 24 y 35,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,Entre 0 y 5,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,Mas de 35,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,Entre 0 y 5,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [5]:
def getRange(x):
  if x['MonthlyCharges'] < 26:
    return "Menos de 26"
  elif 26 <= x['MonthlyCharges'] < 50:
    return "Entre 26 y 50"
  elif 50 <= x['MonthlyCharges'] < 76:
    return "Entre 50 y 76"
  return "Mas de 77"

In [6]:
# Se pasa montlycharges a rangos
df['CargosMensuales'] = df.apply(lambda row: getRange(row),axis=1)

df.describe()

       SeniorCitizen  MonthlyCharges  TotalCharges
count    7043.000000     7043.000000   7043.000000
mean        0.162147       64.761692   2279.734304
std         0.368612       30.090047   2266.794470
min         0.000000       18.250000      0.000000
25%         0.000000       35.500000    398.550000
50%         0.000000       70.350000   1394.550000
75%         0.000000       89.850000   3786.600000
max         1.000000      118.750000   8684.800000

In [7]:
sexo = {"Sexo": ['Male','Female']}
tipo_pago = {"Tipo_pago":list(set([i for i in df["PaymentMethod"]]))}
pago_mensual = {"Pago_mensual":list(set([i for i in df["CargosMensuales"]]))}
contrato = {"Contrato":list(set([i for i in df["Contract"]]))}
adulto_mayor = {"Adulto_mayor":list(set([i for i in df["SeniorCitizen"]]))}
antiguedad = {"Antiguedad":list(set([i for i in df["tenure"]]))}
socio = {"Socio":list(set([i for i in df["Partner"]]))}
fuga = {"Fuga": list(set([i for i in df["Churn"]]))}

plan_telefonico = {}
id = 1
for index,i in df.iterrows():
  if (i['PhoneService'], i['MultipleLines']) not in plan_telefonico.values():
    plan_telefonico[id] = (i['PhoneService'], i['MultipleLines'])
    id+=1
    

plan_internet = {}
id = 1
for index, i in df.iterrows():
  if (i["InternetService"],i["OnlineSecurity"],i["OnlineBackup"],i["DeviceProtection"],i["TechSupport"], i["StreamingTV"],i["StreamingMovies"]) not in plan_internet.values():
    plan_internet[id] = (i["InternetService"],i["OnlineSecurity"],i["OnlineBackup"],i["DeviceProtection"],i["TechSupport"], i["StreamingTV"],i["StreamingMovies"])
    id+=1
    
plan = {}
id = 1

for index, i in df.iterrows():
  pl_tel = (i['PhoneService'], i['MultipleLines'])
  pl_int = (i["InternetService"],i["OnlineSecurity"],i["OnlineBackup"],i["DeviceProtection"],i["TechSupport"], i["StreamingTV"],i["StreamingMovies"])
  for llave, valor in plan_telefonico.items():
    if pl_tel == valor:
      id_tel = llave
      break
  for llave, valor in plan_internet.items():
    if pl_int == valor:
      id_int = llave
      break
  if (id_tel, id_int) not in plan.values():
    plan[id] = (id_tel, id_int)
    id+=1
    
    
perfil = list()
for index, i in df.iterrows():
  pl_tel = (i['PhoneService'], i['MultipleLines'])
  pl_int = (i["InternetService"],i["OnlineSecurity"],i["OnlineBackup"],i["DeviceProtection"],i["TechSupport"], i["StreamingTV"],i["StreamingMovies"])
  for llave,valor in plan_telefonico.items():
    if pl_tel == valor:
      id_tel=llave
      break
  for llave, valor in plan_internet.items():
    if pl_int == valor:
      id_int=llave
      break
  for llave,valor in plan.items():
    if (id_tel,id_int) == valor:
      id_plan=llave
      break
  perf = [i['gender'], i['SeniorCitizen'], i['Partner'], i['tenure'], id_plan, i['Contract'], i['PaymentMethod'], i['CargosMensuales']] #, i["Churn"]
  if perf not in perfil:
    perfil.append(perf)

In [8]:
import numpy as np

#('Female', 'Electronic check', 'Entre 12 y 23', ('Yes', 'Yes'), ('Fiber optic', 'No', 'No', 'No', 'Yes', 'Yes', 'No'), 'Month-to-month', 1, 'No', 'Electronic check')
df_kpi = pd.DataFrame([i for i in perfil], columns=['sexo', 'adulto_mayor', 'socio', 'antiguedad', 'id_plan', 'renovantes', 'metodo_pago', 'pago_rango'])

In [9]:
df_kpi

,sexo,adulto_mayor,socio,antiguedad,id_plan,renovantes,metodo_pago,pago_rango
0,Female,0,Yes,Entre 0 y 5,1,Month-to-month,Electronic check,Entre 26 y 50
1,Male,0,No,Entre 24 y 35,2,One year,Mailed check,Entre 50 y 76
2,Male,0,No,Entre 0 y 5,3,Month-to-month,Mailed check,Entre 50 y 76
3,Male,0,No,Mas de 35,4,One year,Bank transfer (automatic),Entre 26 y 50
4,Female,0,No,Entre 0 y 5,5,Month-to-month,Electronic check,Entre 50 y 76
5,Female,0,No,Entre 6 y 11,6,Month-to-month,Electronic check,Mas de 77
6,Male,0,No,Entre 12 y 23,7,Month-to-month,Credit card (automatic),Mas de 77
7,Female,0,No,Entre 6 y 11,8,Month-to-month,Mailed check,Entre 26 y 50
8,Female,0,Yes,Entre 24 y 35,9,Month-to-month,Electronic check,Mas de 77
9,Male,0,No,Mas de 35,3,One year,Bank transfer (automatic),Entre 50 y 76
10,Male,0,Yes,Entre 12 y 23,10,Month-to-month,Mailed check,Entre 26 y 50
11,Male,0,No,Entre 12 y 23,11,Two year,Credit card (automatic),Menos de 26
12,Male,0,Yes,Mas de 35,6,One year,Credit card (automatic),Mas de 77
13,Male,0,No,Mas de 35,12,Month-to-month,Bank transfer (automatic),Mas de 77
14,Male,0,No,Entre 24 y 35,13,Month-to-month,Electronic check,Mas de 77
15,Female,0,Yes,Mas de 35,14,Two year,Credit card (automatic),Mas de 77
16,Female,0,No,Mas de 35,11,One year,Mailed check,Menos de 26
17,Male,0,No,Mas de 35,15,Two year,Bank transfer (automatic),Mas de 77
18,Female,0,Yes,Entre 6 y 11,16,Month-to-month,Credit card (automatic),Entre 50 y 76
19,Female,0,No,Entre 12 y 23,17,Month-to-month,Electronic check,Mas de 77
20,Male,1,No,Entre 0 y 5,18,Month-to-month,Electronic check,Entre 26 y 50
21,Male,0,Yes,Entre 12 y 23,11,One year,Bank transfer (automatic),Menos de 26
22,Male,0,No,Entre 0 y 5,11,Month-to-month,Mailed check,Menos de 26
23,Female,0,Yes,Mas de 35,19,Two year,Credit card (automatic),Entre 50 y 76
24,Male,0,Yes,Mas de 35,20,Month-to-month,Credit card (automatic),Entre 50 y 76
25,Female,0,No,Entre 24 y 35,3,Month-to-month,Bank transfer (automatic),Entre 50 y 76
26,Male,0,Yes,Mas de 35,21,Month-to-month,Electronic check,Mas de 77
27,Male,0,Yes,Entre 0 y 5,1,Month-to-month,Electronic check,Entre 26 y 50
28,Male,0,Yes,Mas de 35,22,Two year,Credit card (automatic),Mas de 77
29,Female,0,No,Entre 12 y 23,23,Month-to-month,Mailed check,Entre 50 y 76
...,...,...,...,...,...,...,...,...
4498,Female,0,Yes,Mas de 35,227,One year,Bank transfer (automatic),Entre 50 y 76
4499,Female,0,Yes,Entre 24 y 35,117,Month-to-month,Electronic check,Mas de 77
4500,Female,0,No,Entre 12 y 23,89,Month-to-month,Electronic check,Mas de 77
4501,Male,0,No,Entre 0 y 5,298,Month-to-month,Mailed check,Entre 26 y 50
4502,Female,0,Yes,Mas de 35,127,Two year,Bank transfer (automatic),Mas de 77
4503,Male,0,No,Entre 24 y 35,272,Month-to-month,Electronic check,Entre 26 y 50
4504,Male,0,No,Mas de 35,175,Month-to-month,Credit card (automatic),Mas de 77
4505,Male,0,No,Mas de 35,12,Month-to-month,Credit card (automatic),Mas de 77
4506,Female,1,No,Entre 0 y 5,73,Month-to-month,Credit card (automatic),Entre 50 y 76
4507,Male,0,No,Entre 12 y 23,78,Month-to-month,Electronic check,Mas de 77
4508,Female,0,No,Entre 0 y 5,20,Month-to-month,Mailed check,Entre 50 y 76
4509,Female,0,Yes,Mas de 35,108,Two year,Electronic check,Mas de 77
4510,Female,0,No,Mas de 35,143,Month-to-month,Bank transfer (automatic),Mas de 77
4511,Male,0,No,Mas de 35,7,Month-to-month,Electronic check,Mas de 77
4512,Male,1,Yes,Entre 24 y 35,199,Month-to-month,Credit card (automatic),Mas de 77
4513,Male,0,No,Entre 12 y 23,279,One year,Electronic check,Entre 50 y 76
4514,Male,0,Yes,Mas de 35,285,Month-to-month,Credit card (automatic),Mas de 77
4515,Female,0,No,Entre 12 y 23,294,Month-to-month,Bank transfer (automatic),Mas de 77
4516,Female,0,No,Entre 6 y 11,27,Month-to-month,Bank transfer (automatic),Entre 26 y 50
4517,Male,0,No,Entre 12 y 23,47,Month-to-month,Mailed check,Entre 50 y 76
4518,Female,0,Yes,Mas de 35,229,Two year,Bank transfer (automatic),Entre 50 y 76
4519,Female,1,No,Entre 6 y 11,146,Month-to-month,Electronic check,Entre 26 y 50
4520,Male,1,Yes,Mas de 35,264,One year,Credit card (automatic),Entre 50 y 76
4521,Female,0,No,Mas de 35,184,Month-to-month,Credit card (automatic),Mas de 77
4522,Male,0,No,Entre 12 y 23,35,Month-to-month,Bank transfer (automatic),Mas de 77
4523,Female,0,No,Entre 12 y 23,121,One year,Electronic check,Entre 50 y 76
4524,Male,0,Yes,Entre 24 y 35,62,One year,Mailed check,Mas de 77
4525,Female,0,Yes,Entre 6 y 11,8,Month-to-month,Electronic check,Entre 26 y 50
4526,Male,1,Yes,Entre 0 y 5,73,Month-to-month,Mailed check,Entre 50 y 76
4527,Male,0,No,Mas de 35,13,Two year,Bank transfer (automatic),Mas de 77

In [10]:
plan[4]
#print(plan_telefonico[1])
#print(plan_internet[4])

(1, 4)

In [11]:
#(i["InternetService"],i["OnlineSecurity"],i["OnlineBackup"],i["DeviceProtection"],i["TechSupport"], i["StreamingTV"],i["StreamingMovies"])
cant_clientes = list()
cant_fugados = list()
carga_prom_mensual = list()
carga_prom_total = list()
carga_prom_mensual_f = list()
carga_prom_total_f = list()
porcentaje_fuga = list()
c = 0
for index, row in df_kpi.iterrows():       #for index, row in df_kpi.iterrows():
  data = df[df['PhoneService'] == plan_telefonico[plan[row['id_plan']][0]][0]]
  
  data = data[data['MultipleLines'] == plan_telefonico[plan[row['id_plan']][0]][1]]
  
  data = data[data['InternetService'] == plan_internet[plan[row['id_plan']][1]][0]]
  
  data = data[data['OnlineSecurity'] == plan_internet[plan[row['id_plan']][1]][1]]
  
  
  data = data[data['DeviceProtection'] == plan_internet[plan[row['id_plan']][1]][3]]
  
  data = data[data['OnlineBackup'] == plan_internet[plan[row['id_plan']][1]][2]]
  
  data = data[data['StreamingTV'] == plan_internet[plan[row['id_plan']][1]][5]]
  
  data = data[data['StreamingMovies'] == plan_internet[plan[row['id_plan']][1]][6]]
  
  data = data[data['TechSupport'] == plan_internet[plan[row['id_plan']][1]][4]]
  
  data = data[df['gender'] == row['sexo']]
  
  data = data[data['SeniorCitizen'] == row['adulto_mayor']]
  
  data = data[data['Partner'] == row['socio']]
  
  
    
  data = data[data['tenure'] == row['antiguedad']]
  
  data = data[data['CargosMensuales'] == row['pago_rango']]
  
  
  
  
  
  data = data[data['Contract'] == row['renovantes']]
  
  data = data[data['PaymentMethod'] == row['metodo_pago']]
  #data = data[data['Churn'] == row['Churn']]
  
  
  
  
  #Clientes
  cant_clientes.append(len(data))
  #Fugados
  datos_fugados = data.loc[data['Churn'] == 'Yes']
  cant_fugados.append(len(datos_fugados))
  
  datos_no_fugados = data.loc[data['Churn'] == 'No']
  
  if (len(data) > 0):
    porcentaje_fuga.append(len(datos_fugados)*100/len(data))
  else:
    porcentaje_fuga.append(0)
  
  #carga_prom_mensual
  carga_prom_mensual_real = datos_no_fugados['MonthlyCharges'].sum()/len(datos_no_fugados)
  if np.isnan(carga_prom_mensual_real):
    carga_prom_mensual_real = 0
  carga_prom_mensual.append(carga_prom_mensual_real)
  
  #carga_prom_mensual_fugados
  carga_prom_mensual_real_f = datos_fugados['MonthlyCharges'].sum()/len(datos_fugados)
  if np.isnan(carga_prom_mensual_real_f):
    carga_prom_mensual_real_f = 0
  carga_prom_mensual_f.append(carga_prom_mensual_real_f)
  
  #carga_prom_total
  df['TotalCharges'].convert_objects(convert_numeric=True)
  carga_prom_total_real = datos_no_fugados['TotalCharges'].sum()/len(datos_no_fugados)
  if np.isnan(carga_prom_total_real):
    carga_prom_total_real = 0
  carga_prom_total.append(carga_prom_total_real)
  
  #carga_prom_total_f
  carga_prom_total_real_f = datos_fugados['TotalCharges'].sum()/len(datos_fugados)
  if np.isnan(carga_prom_total_real_f):
    carga_prom_total_real_f = 0
  carga_prom_total_f.append(carga_prom_total_real_f)
  
  
df_kpi['cant_fugados'] = cant_fugados
df_kpi['cant_clientes'] = cant_clientes
df_kpi['carga_prom_mensual'] = carga_prom_mensual
df_kpi['carga_prom_mensual_fugados'] = carga_prom_mensual_f
df_kpi['carga_prom_total'] = carga_prom_total
df_kpi['carga_prom_total_fugados'] = carga_prom_total_f
df_kpi['porcentaje_fugados'] = porcentaje_fuga

C:\Users\Francisco\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
C:\Users\Francisco\Anaconda3\lib\site-packages\ipykernel_launcher.py:74: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\Francisco\Anaconda3\lib\site-packages\ipykernel_launcher.py:80: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
C:\Users\Francisco\Anaconda3\lib\site-packages\ipykernel_launcher.py:87: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\Francisco\Anaconda3\lib\site-packages\ipykernel_launcher.py:68: RuntimeWarning: invalid value encountered in double_scalars
C:\Users\Francisco\Anaconda3\lib\site-packages\ipykernel_launcher.py:81: RuntimeWarning: invalid value encountered in double_scalars

Male	0	No	Mas de 35	4	One year	Bank transfer (automatic)	Entre 26 y 50
('No', 'No phone service')
('DSL', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No')

In [12]:
df_kpi

,sexo,adulto_mayor,socio,antiguedad,id_plan,renovantes,metodo_pago,pago_rango,cant_fugados,cant_clientes,carga_prom_mensual,carga_prom_mensual_fugados,carga_prom_total,carga_prom_total_fugados,porcentaje_fugados
0,Female,0,Yes,Entre 0 y 5,1,Month-to-month,Electronic check,Entre 26 y 50,0,2,30.175000,0.000000,98.525000,0.000000,0.000000
1,Male,0,No,Entre 24 y 35,2,One year,Mailed check,Entre 50 y 76,0,1,56.950000,0.000000,1889.500000,0.000000,0.000000
2,Male,0,No,Entre 0 y 5,3,Month-to-month,Mailed check,Entre 50 y 76,1,1,0.000000,53.850000,0.000000,108.150000,100.000000
3,Male,0,No,Mas de 35,4,One year,Bank transfer (automatic),Entre 26 y 50,0,1,42.300000,0.000000,1840.750000,0.000000,0.000000
4,Female,0,No,Entre 0 y 5,5,Month-to-month,Electronic check,Entre 50 y 76,20,28,70.100000,70.032500,145.293750,104.185000,71.428571
5,Female,0,No,Entre 6 y 11,6,Month-to-month,Electronic check,Mas de 77,3,3,0.000000,100.333333,0.000000,1003.483333,100.000000
6,Male,0,No,Entre 12 y 23,7,Month-to-month,Credit card (automatic),Mas de 77,0,1,89.100000,0.000000,1949.400000,0.000000,0.000000
7,Female,0,No,Entre 6 y 11,8,Month-to-month,Mailed check,Entre 26 y 50,0,2,29.775000,0.000000,251.925000,0.000000,0.000000
8,Female,0,Yes,Entre 24 y 35,9,Month-to-month,Electronic check,Mas de 77,2,2,0.000000,104.500000,0.000000,3144.750000,100.000000
9,Male,0,No,Mas de 35,3,One year,Bank transfer (automatic),Entre 50 y 76,0,1,56.150000,0.000000,3487.950000,0.000000,0.000000
10,Male,0,Yes,Entre 12 y 23,10,Month-to-month,Mailed check,Entre 26 y 50,0,1,49.950000,0.000000,587.450000,0.000000,0.000000
11,Male,0,No,Entre 12 y 23,11,Two year,Credit card (automatic),Menos de 26,0,5,19.860000,0.000000,364.080000,0.000000,0.000000
12,Male,0,Yes,Mas de 35,6,One year,Credit card (automatic),Mas de 77,0,2,99.500000,0.000000,6321.975000,0.000000,0.000000
13,Male,0,No,Mas de 35,12,Month-to-month,Bank transfer (automatic),Mas de 77,1,1,0.000000,103.700000,0.000000,5036.300000,100.000000
14,Male,0,No,Entre 24 y 35,13,Month-to-month,Electronic check,Mas de 77,0,1,105.500000,0.000000,2686.050000,0.000000,0.000000
15,Female,0,Yes,Mas de 35,14,Two year,Credit card (automatic),Mas de 77,0,14,114.982143,0.000000,8044.846429,0.000000,0.000000
16,Female,0,No,Mas de 35,11,One year,Mailed check,Menos de 26,0,8,19.906250,0.000000,851.518750,0.000000,0.000000
17,Male,0,No,Mas de 35,15,Two year,Bank transfer (automatic),Mas de 77,0,1,106.700000,0.000000,7382.250000,0.000000,0.000000
18,Female,0,Yes,Entre 6 y 11,16,Month-to-month,Credit card (automatic),Entre 50 y 76,1,1,0.000000,55.200000,0.000000,528.350000,100.000000
19,Female,0,No,Entre 12 y 23,17,Month-to-month,Electronic check,Mas de 77,0,1,90.050000,0.000000,1862.900000,0.000000,0.000000
20,Male,1,No,Entre 0 y 5,18,Month-to-month,Electronic check,Entre 26 y 50,2,2,0.000000,40.400000,0.000000,85.925000,100.000000
21,Male,0,Yes,Entre 12 y 23,11,One year,Bank transfer (automatic),Menos de 26,0,5,19.960000,0.000000,341.690000,0.000000,0.000000
22,Male,0,No,Entre 0 y 5,11,Month-to-month,Mailed check,Menos de 26,28,99,19.960563,19.916071,38.102817,26.655357,28.282828
23,Female,0,Yes,Mas de 35,19,Two year,Credit card (automatic),Entre 50 y 76,0,1,59.900000,0.000000,3505.100000,0.000000,0.000000
24,Male,0,Yes,Mas de 35,20,Month-to-month,Credit card (automatic),Entre 50 y 76,0,1,59.600000,0.000000,2970.300000,0.000000,0.000000
25,Female,0,No,Entre 24 y 35,3,Month-to-month,Bank transfer (automatic),Entre 50 y 76,0,1,55.300000,0.000000,1530.600000,0.000000,0.000000
26,Male,0,Yes,Mas de 35,21,Month-to-month,Electronic check,Mas de 77,2,2,0.000000,100.325000,0.000000,4431.125000,100.000000
27,Male,0,Yes,Entre 0 y 5,1,Month-to-month,Electronic check,Entre 26 y 50,1,1,0.000000,30.200000,0.000000,30.200000,100.000000
28,Male,0,Yes,Mas de 35,22,Two year,Credit card (automatic),Mas de 77,0,17,90.379412,0.000000,6378.744118,0.000000,0.000000
29,Female,0,No,Entre 12 y 23,23,Month-to-month,Mailed check,Entre 50 y 76,1,1,0.000000,64.700000,0.000000,1093.100000,100.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4498,Female,0,Yes,Mas de 35,227,One year,Bank transfer (automatic),Entre 50 y 76,1,1,0.000000,66.500000,0.000000,2728.600000,100.000000
4499,Female,0,Yes,Entre 24 y 35,117,Month-to-month,Electronic check,Mas de 77,0,1,76.100000,0.000000,2093.400000,0.000000,0.000000
4500,Female,0,No,Entre 12 y 23,89,Month-to-month,Electronic check,Mas de 77,0,1,80.500000,0.000000,1011.800000,0.000000,0.000000
4501,Male,0,No,Entre 0 y 5,298,Month-to-month,Mailed check,Entre 26 y 50,1,1,0.000000,35.450000,0.000000,106.850000,100.000000
4502,Female,0,Yes,Mas de 35,127,Two year,Bank transfer (automatic),Mas de 77,0,1,105.400000,0.000000,6794.750000,0.000000,0.000000
4503,Male,0,No,Entre 24 y 35,272,Month-to-month,Electronic check,Entre 26 y 50,0,1,35.750000,0.000000,1022.500000,0.000000,0.000000
4504,Male,0,No,Mas de 35,175,Month-to-month,Credit card (automatic),Mas de 77,0,1,95.100000,0.000000,3691.200000,0.000000,0.000000
4505,Male,0,No,Mas de 35,12,Month-to-month,Credit card (automatic),Mas de 77,1,1,0.000000,104.500000,0.000000,4036.850000,100.000000
4506,Female,1,No,Entre 0 y 5,73,Month-to-month,Credit card (automatic),Entre 50 y 76,1,1,0.000000,75.050000,0.000000,256.250000,100.000000
4507,Male,0,No,Entre 12 y 23,78,Month-to-month,Electronic check,Mas de 77,1,1,0.000000,81.000000,0.000000,1917.100000,100.000000
4508,Female,0,No,Entre 0 y 5,20,Month-to-month,Mailed check,Entre 50 y 76,1,1,0.000000,60.400000,0.000000,272.150000,100.000000
4509,Female,0,Yes,Mas de 35,108,Two year,Electronic check,Mas de 77,0,1,84.950000,0.000000,5150.550000,0.000000,0.000000
4510,Female,0,No,Mas de 35,143,Month-to-month,Bank transfer (automatic),Mas de 77,0,1,93.400000,0.000000,3756.400000,0.000000,0.000000
4511,Male,0,No,Mas de 35,7,Month-to-month,Electronic check,Mas de 77,0,1,89.200000,0.000000,3645.750000,0.000000,0.000000
4512,Male,1,Yes,Entre 24 y 35,199,Month-to-month,Credit card (automatic),Mas de 77,0,1,85.200000,0.000000,2874.450000,0.000000,0.000000
4513,Male,0,No,Entre 12 y 23,279,One year,Electronic check,Entre 50 y 76,1,1,0.000000,59.800000,0.000000,727.800000,100.000000
4514,Male,0,Yes,Mas de 35,285,Month-to-month,Credit card (automatic),Mas de 77,0,1,84.800000,0.000000,3626.350000,0.000000,0.000000
4515,Female,0,No,Entre 12 y 23,294,Month-to-month,Bank transfer (automatic),Mas de 77,0,1,95.050000,0.000000,1679.400000,0.000000,0.000000
4516,Female,0,No,Entre 6 y 11,27,Month-to-month,Bank transfer (automatic),Entre 26 y 50,1,1,0.000000,44.200000,0.000000,403.350000,100.000000
4517,Male,0,No,Entre 12 y 23,47,Month-to-month,Mailed check,Entre 50 y 76,0,1,73.350000,0.000000,931.550000,0.000000,0.000000
4518,Female,0,Yes,Mas de 35,229,Two year,Bank transfer (automatic),Entre 50 y 76,0,1,64.100000,0.000000,4326.250000,0.000000,0.000000
4519,Female,1,No,Entre 6 y 11,146,Month-to-month,Electronic check,Entre 26 y 50,0,1,44.400000,0.000000,263.050000,0.000000,0.000000
4520,Male,1,Yes,Mas de 35,264,One year,Credit card (automatic),Entre 50 y 76,0,1,60.000000,0.000000,3316.100000,0.000000,0.000000
4521,Female,0,No,Mas de 35,184,Month-to-month,Credit card (automatic),Mas de 77,1,1,0.000000,102.950000,0.000000,6886.250000,100.000000
4522,Male,0,No,Entre 12 y 23,35,Month-to-month,Bank transfer (automatic),Mas de 77,0,1,78.700000,0.000000,1495.100000,0.000000,0.000000
4523,Female,0,No,Entre 12 y 23,121,One year,Electronic check,Entre 50 y 76,0,1,60.650000,0.000000,743.300000,0.000000,0.000000
4524,Male,0,Yes,Entre 24 y 35,62,One year,Mailed check,Mas de 77,0,1,84.800000,0.000000,1990.500000,0.000000,0.000000
4525,Female,0,Yes,Entre 6 y 11,8,Month-to-month,Electronic check,Entre 26 y 50,0,1,29.600000,0.000000,346.450000,0.000000,0.000000
4526,Male,1,Yes,Entre 0 y 5,73,Month-to-month,Mailed check,Entre 50 y 76,1,1,0.000000,74.400000,0.000000,306.600000,100.000000
4527,Male,0,No,Mas de 35,13,Two year,Bank transfer (automatic),Mas de 77,0,1,105.650000,0.000000,6844.500000,0.000000,0.000000

In [13]:
#for row in perfil['Perfil']:       #for index, row in df_kpi.iterrows():
  #data = df.loc[df['gender'] == row['sexo']]
  #data = data.loc[data['CargosMensuales'] == row['pago_rango']]
  #data = data.loc[data['tenure'] == row['antiguedad']]
  #data = data.loc[data['PhoneService'] == plan_telefonico['Plan_telefonico'][plan['Plan'][row['id_plan']][0]][0]]
  #data = data.loc[data['MultipleLines'] == plan_telefonico['Plan_telefonico'][plan['Plan'][row['id_plan']][0]][1]]
  #data = data.loc[data['InternetService'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][0]]
  #data = data.loc[data['OnlineSecurity'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][1]]
  #data = data.loc[data['DeviceProtection'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][2]]
  #data = data.loc[data['OnlineBackup'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][3]]
  #data = data.loc[data['StreamingTV'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][4]]
  #data = data.loc[data['StreamingMovies'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][5]]
  #data = data.loc[data['TechSupport'] == plan_internet['Plan_internet'][plan['Plan'][row['id_plan']][0]][6]]
  #data = data.loc[data['Contract'] == row['renovantes']]
  #data = data.loc[data['PaymentMethod'] == row['metodo_pago']]
  #data = data.loc[data['SeniorCitizen'] == row['adulto_mayor']]
  #data = data.loc[data['Partner'] == row['socio']]

  #Clientes
  #cant_clientes.append(len(data))
  
  #Fugados
  #datos_fugados = data.loc[data['Churn'] == 'Yes']
  #cant_fugados.append(len(datos_fugados))
  
  #datos_no_fugados = data.loc[data['Churn'] == 'No']
  
  #if (len(data) > 0):
    #porcentaje_fuga.append(len(datos_fugados)*100/len(data))
  #else:
    #porcentaje_fuga.append(0)
  
  #carga_prom_mensual
  #carga_prom_mensual_real = datos_no_fugados['MonthlyCharges'].sum()/len(datos_no_fugados)
  #if np.isnan(carga_prom_mensual_real):
    #carga_prom_mensual_real = 0
  #carga_prom_mensual.append(carga_prom_mensual_real)
  
  #carga_prom_total
  #df['TotalCharges'].convert_objects(convert_numeric=True)
  #carga_prom_total_real = datos_no_fugados['TotalCharges'].sum()/len(datos_no_fugados)
  #if np.isnan(carga_prom_total_real):
    #carga_prom_total_real = 0
  #carga_prom_total.append(carga_prom_total_real)
  
#df_kpi['cant_fugados'] = cant_fugados
#df_kpi['cant_clientes'] = cant_clientes
#df_kpi['carga_prom_mensual'] = carga_prom_mensual
#df_kpi['carga_prom_total'] = carga_prom_total
#df_kpi['porcentaje_fugados'] = porcentaje_fuga

In [14]:
df_kpi['cant_clientes'].sum()

7043

In [16]:
# Esto se ejecuta una vez
import psycopg2
conn = psycopg2.connect(host="localhost",database="postgres", user="postgres", password="123456")
cur = conn.cursor()

In [17]:
# POBLAR sexo

SQL = "INSERT INTO sexo (genero) VALUES(%s)"
try:
    cur.executemany(SQL, list(map(lambda x: (x,), sexo['Sexo'])))
    
except (Exception, psycopg2.DatabaseError) as error:
    print("Hubo un error\n",error)
    
conn.commit()

In [18]:
# POBLAR tipo_pago

SQL = "INSERT INTO tipo_pago (metodo) VALUES(%s)"
try:
    cur.executemany(SQL, list(map(lambda x: (x,), tipo_pago['Tipo_pago'])))
    
except (Exception, psycopg2.DatabaseError) as error:
    print("Hubo un error\n",error)
    
conn.commit()

In [19]:
# POBLAR pago_mensual

SQL = "INSERT INTO pago_mensual (rango_pago) VALUES(%s)"
try:
    cur.executemany(SQL, list(map(lambda x: (x,), pago_mensual['Pago_mensual'])))
    
except (Exception, psycopg2.DatabaseError) as error:
    print("Hubo un error\n",error)
    
conn.commit()

In [20]:
# POBLAR contrato

SQL = "INSERT INTO contrato (renovacion) VALUES(%s)"
try:
    cur.executemany(SQL, list(map(lambda x: (x,), contrato['Contrato'])))
    
except (Exception, psycopg2.DatabaseError) as error:
    print("Hubo un error\n",error)
    
conn.commit()

In [21]:
# POBLAR adulto_mayor

def foo(x):
    if x==1:
        return (True, )
    else:
        return (False, )

SQL = "INSERT INTO adulto_mayor (bool) VALUES(%s)"
try:
    cur.executemany(SQL, list(map(foo, adulto_mayor['Adulto_mayor'])))
    
except (Exception, psycopg2.DatabaseError) as error:
    print("Hubo un error\n",error)
    
conn.commit()

In [22]:
# POBLAR plan_internet

SQL = """INSERT INTO plan_internet (id, tipo_conexion, seguridad, 
proteccion_equipo, respaldo, streaming_tv, streaming_movies, soporte_tecnico) VALUES ({},'{}','{}','{}','{}','{}','{}','{}')"""


for i in plan_internet:
    try:
        cur.execute(SQL.format(i,*plan_internet[i]))

    except (Exception, psycopg2.DatabaseError) as error:
        print("Hubo un error\n",error)
    
conn.commit()

In [23]:
# POBLAR plan_telefonico

SQL = """INSERT INTO plan_telefonico (id, tiene, multiples_lineas)
         VALUES ({},'{}','{}')"""

for i in plan_telefonico:
    try:
        cur.execute(SQL.format(i,*plan_telefonico[i]))

    except (Exception, psycopg2.DatabaseError) as error:
        print("Hubo un error\n",error)
    
conn.commit()

In [24]:
# POBLAR plan

SQL = """INSERT INTO plan (id, plan_telefonico_id, plan_internet_id)
         VALUES ({},'{}','{}')"""

for i in plan:
    try:
        cur.execute(SQL.format(i,*plan[i]))

    except (Exception, psycopg2.DatabaseError) as error:
        print("Hubo un error\n",error)
    
conn.commit()

In [25]:
# POBLAR socio

SQL = """INSERT INTO socio (asociado)
         VALUES ('{}')"""

for i in socio["Socio"]:
    try:
        cur.execute(SQL.format(i))

    except (Exception, psycopg2.DatabaseError) as error:
        print("Hubo un error\n",error)
    
conn.commit()

In [26]:
# POBLAR antiguedad

SQL = """INSERT INTO antiguedad (rango)
         VALUES ('{}')"""

for i in antiguedad["Antiguedad"]:
    try:
        cur.execute(SQL.format(i))

    except (Exception, psycopg2.DatabaseError) as error:
        print("Hubo un error\n",error)
    
conn.commit()

In [27]:
# POBLAR perfil

SQL = """INSERT INTO perfil (cant_fugados, cant_clientes, carga_prom_mensual_fugados, carga_prom_total_fugados, carga_prom_mensual, carga_prom_total, porcentaje_fugados,
sexo_id, tipo_pago_id, pago_mensual_id, contrato_id, adulto_mayor_id, plan_id, socio_id, antiguedad_id)
         VALUES ({}, {}, {}, {}, {}, {}, {}, '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}')"""

for index, row in df_kpi.iterrows():
    try:
        cur.execute(SQL.format(row['cant_fugados'],row['cant_clientes'], row['carga_prom_mensual_fugados'], row['carga_prom_total_fugados'], row['carga_prom_mensual'], row['carga_prom_total'], row['porcentaje_fugados'], row['sexo'], row['metodo_pago'], row['pago_rango'], row['renovantes'], row['adulto_mayor'], row['id_plan'], row['socio'], row['antiguedad']))

    except (Exception, psycopg2.DatabaseError) as error:
        print("Hubo un error\n",error)
    
conn.commit()

In [28]:
cur.close()